<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
    </head>

    <body>
        <div class="navbar">
            <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
            <!-- <a href="{{ url_for('about') }}" class="navbar-item">About</a>
            <a href="{{ url_for('contact') }}" class="navbar-item">Contact</a> -->
            {% if 'user_email' in session %}
                <a href="{{ url_for('logout') }}" class="navbar-right">Logout</a>
                <a href="{{ url_for('welcome') }}" class="navbar-right">Profile</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="navbar-right">Login</a>
                <a href="{{ url_for('signup') }}" class="navbar-right">Join</a>
            {% endif %}
        </div>

        <div class="body-content">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
                <p>GW Computer Science Senior Capstone 2023-2024</p>
            </footer>
        </div>
    </body>
</html>
